<div class="signup-container">
  <mat-card>
    <mat-card-title><div class="signup-container-title">
      <span [translate]="'registration'"></span>
      <a (click)="switchLang()">{{lang.long}}</a>
    </div></mat-card-title>
    <mat-card-content>
      <form novalidate [formGroup]="signupForm" (ngSubmit)="submit()">

        <mat-form-field class="u-w100">
          <input type="text" id="name-input" matInput placeholder="Имя" formControlName="name">
          <mat-error *ngIf="signupForm.get('name').hasError('required')" [translate]="'required'"></mat-error>
          <mat-error *ngIf="signupForm.get('name').hasError('minlength')" [translate]="'minlength'"></mat-error>
        </mat-form-field>

        <mat-form-field class="u-w100">
          <input type="email" id="email-input" matInput placeholder="email" formControlName="email">
          <mat-error *ngIf="signupForm.get('email').hasError('required')" [translate]="'required'"></mat-error>
          <mat-error *ngIf="signupForm.get('email').hasError('email')" [translate]="'wrongemail'"></mat-error>
        </mat-form-field>

        <mat-form-field class="u-w100">
          <input type="password" id="password-input" matInput placeholder="пароль" formControlName="password">
          <mat-error *ngIf="signupForm.get('password').hasError('required')" [translate]="'required'"></mat-error>
          <mat-error *ngIf="signupForm.get('password').hasError('minlength')" [translate]="'minlength'"></mat-error>
        </mat-form-field>

        <div class="button">
          <button type="submit" mat-raised-button color="warn" mat-button
            [disabled]="!signupForm.valid" [innerHTML]="'register' | translate"></button>
        </div>

        <div class="u-mt20 social-container">
          <a class="social"><img src="../../../../assets/images/google.svg" [alt]="'enterwithgoogle' | translate"
              [title]="'enterwithgoogle' | translate" (click)="signInWithSocial('google')"></a>
          <a class="social"><img src="../../../../assets/images/facebook.svg" [alt]="'enterwithfacebook' | translate"
              [title]="'enterwithfacebook' | translate" (click)="signInWithSocial('facebook')"></a>
          <a class="social"><img src="../../../../assets/images/twitter.svg" [alt]="'enterwithtwitter' | translate"
              [title]="'enterwithfacebook' | translate" (click)="signInWithSocial('twitter')"></a>
          <small><a routerLink="/login" [translate]="'entrance'"></a></small>
        </div>

      </form>

    </mat-card-content>
  </mat-card>
</div>
