<mat-toolbar color="warn" class="header-menu">
  <span class="header-menu-mobile">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

  </span>
  <span class="header-menu-logo">GymCharts</span>
  <st-timer *ngIf="detectMobile()"></st-timer>
  <div class="header-menu-desktop">
    <a mat-button routerLink="/trainings" routerLinkActive="active" [innerHTML]="'trainings' | translate"></a>
    <a mat-button routerLink="/statistics" [innerHTML]="'statistycs' | translate"></a>

    <a *ngIf="!currentUser" mat-button routerLink="/login" class="header-menu-link-right" [innerHTML]="'enter' | translate"></a>

    

    <span [matMenuTriggerFor]="menu" mat-button *ngIf="currentUser" class="header-menu-link-right header-menu-profile">
      <img [src]="currentUser.image" alt="" class="header-menu-profile-image">
      <span>{{currentUser.name ? currentUser.name : currentUser.email}}</span>
    </span>

    <mat-menu #menu="matMenu" xPosition="before" class="header-menu-dropdown">
      <button mat-menu-item [routerLink]="'/profile/' + currentUser?.id" [innerHTML]="'profile' | translate"></button>
      <button mat-menu-item (click)="logout()" [innerHTML]="'logout' | translate"></button>
    </mat-menu>

    <st-timer *ngIf="!detectMobile()" class="header-menu-link-right"></st-timer>

  </div>
</mat-toolbar>
