@import './src/assets/sass/mixins';
.header-menu {
    padding: 0 5rem;
    @include respond(mobile) {
        padding: 0 2rem; 
    }
    &-logo {
        margin-right: 2rem;
    }
    &-mobile {
        display: none;
        @include respond(mobile) {
            display: block; 
        }
    }
    &-desktop {
        width: 100%;
        @include respond(mobile) {
            display: none; 
        }
    }
    &-link-right {
        float: right;
    }
}