<div class="container">

    <div class="profile u-mt50">
        <mat-card>
            <mat-card-title>
               {{user?.name ? user?.name : user?.email}}
            </mat-card-title>
            <mat-card-content>
                <img [src]="user?.image" [alt]="user?.name" class="rounded-circle mx-auto d-block profile-pic">
                <div>{{'birthdate' | translate}}: {{user?.datebirth['seconds'] * 1000 | date: 'dd.MM.yyyy'}}</div>
                <div>{{'weight' | translate}}: {{user?.weight}} кг.</div>
                <div>{{'height' | translate}}: {{user?.height}} см.</div>
                <div><button [routerLink]="'/profile/' + currentUser?.id + '/edit'" mat-raised-button color="warn" [innerHTML]="'editprofile' | translate"></button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #noPhoto>
    <div class="no-photo d-flex justify-content-center align-items-center">
        {{'nophoto' | translate}}
    </div>
</ng-template>

