@import './src/assets/sass/variables';

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    main {
        height: 100%;
    }
    mat-sidenav-container {
        height: 100%;
    }
    mat-sidenav {
        min-width: 20rem;
    }
    mat-sidenav-content {
        height: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .alert-wrapper {
        position: relative;

        alert {
            position: absolute;
            width: 100%;
            height: 6.4rem;
        }
    }
}