
<mat-list role="list" class="mobile-menu">
    <mat-list-item role="listitem" class="mobile-menu-logo">
        <span>GymCharts</span>
    </mat-list-item>
    <br>
    <mat-list-item role="listitem">
        <a mat-menu-item routerLink="/trainings" (click)="toggleSidenav()">
            <mat-icon>fitness_center</mat-icon>
            <span>Тренировки</span>
        </a>
    </mat-list-item>
    <mat-list-item role="listitem">
        <a mat-menu-item routerLink="/statistics" (click)="toggleSidenav()">
            <mat-icon>bar_chart</mat-icon>
            <span>Cтатистика</span>
        </a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a mat-menu-item routerLink="/profile" (click)="toggleSidenav()" *ngIf="currentUser">
        <mat-icon>face</mat-icon>
        <span>Профиль</span>
      </a>
    </mat-list-item>
    <mat-list-item role="listitem">
        <a *ngIf="!currentUser" mat-menu-item routerLink="login" (click)="toggleSidenav()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Войти</span>
        </a>
        <a *ngIf="currentUser" mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Выйти</span>
        </a>
    </mat-list-item>
</mat-list>
